<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title%} main title {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
body {
  background-image: url('https://www.ivi.ru/titr/uploads/2017/05/19/cf27eb269b3e93cea5b72c0130ad2740.jpg/1400x0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <div class="jumbotron">
    <h1>HELLO EVERYBODY</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>
</head>
<body>
<div class="container">
  {% block book %}
  {% endblock %}
</div>

</body>
<div class="jumbotron">
    <h1>Footer</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>

</html>