<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title%} main title {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
body {
  background-image: url('https://lh3.googleusercontent.com/proxy/sR0M75LrXBlzGBQAYqkP_AWES5S3q_Fy9Itg0LbWpRogPDA0QAsQjsI3-4W6oQjrhNCT3hg_18SDPYTR3JUMV3yBEbtDMIX_Fl514bEbQkJRF6tbrvrGwyMM4-YukWfSmXtn6XKXse7wRsM4KsZu65yagA0BqmS2BIKkpE0vzNmnkn4KHFb0nvRtTsTRpRac6oTmaBFF3kEQfryKyfgLbBIayhEkXtFu-5XhcZh9xkZBNaKxp6cgbDt6f-4IJTT-V8edyzjzcib7QetmW691UXoNvysNnnMqayduAr8');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <div class="jumbotron">
    <h1>HELLO EVERYBODY</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>
</head>
<body>
<div class="container">
  {% block book %}
  {% endblock %}
</div>

</body>
<div class="jumbotron">
    <h1>Footer</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>

</html>